---
import Layout from "../components/Layout.astro";
---

<Layout title="Help" desc="Forgot your password?">
    <div class="flex flex-col justify-center items-center min-h-[85vh] px-5">
        <h1 class="text-center text-balance">Text Daniel Yang on Slack for help.</h1>
    </div>
</Layout>
