---
import Layout from "../Layout.astro"
---

<Layout title="Signup" desc="Signup to MyPulse">
    <div class="flex flex-col justify-center items-center h-[80vh] space-y-2">
        <form id="form" class="flex flex-col gap-y-2 w-[200px]">
            <input
                class="text-center border-2 rounded-lg"
                placeholder="enter osis:"
                name="osis"
                id="osis"
                minlength="9"
                required
            />

            <input
                class="text-center border-2 rounded-lg"
                placeholder="enter password:"
                type="password"
                name="password"
                id="password"
                minlength="6"
                required
            />

            <button class="text-center border-2 rounded-lg" type="submit">
                Sign up
            </button>
        </form>
        <h1 id="error" class="text-sm text-[#eb3446]"></h1>

        <h1 class="pt-5 text-sm">Already have an account?</h1>
        <a href="/login" class="text-center border-2 rounded-lg w-[150px]">
            Log in
        </a>
    </div>

    <script>
        // gets the form element
        const form = document.getElementById("form");

        form?.addEventListener("submit", async (event) => {
            // prevent default stops the default functionality so we can handle it ourselves
            event.preventDefault();

            const data = new FormData(form as HTMLFormElement);

            const response = await fetch("/api/auth/signup", {
                method: "POST",
                body: data,
            });

            // if there are no errors and sign up is successful
            if (response.ok) window.location.href = "/";
            else {
                console.log(response)
                // gets the error msg from the response
                const text = await response.text();

                // gets the error element and sets the text
                const error = document.getElementById("error");
                error!.textContent = text;
            }
        });
    </script>
</Layout>
