<form action="?osis=" id="form" class="flex flex-col gap-2 w-[200px]">
    <input
        class="text-center border-2 p-2 rounded-xl"
        placeholder="enter osis:"
        name="osis"
        id="osis"
    />
    <button class="text-center border-2 p-2 rounded-xl" type="submit">
        search
    </button>
    
    <form action="/api/auth/logout" class="mx-auto w-fit">
        <button class="text-center border-2 rounded-xl w-[200px] p-2" type="submit">
            log out
        </button>
    </form>    
</form>